@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow: hidden;
}

.nav-item {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 6px;
  width: calc(85vw - 12px - 12px);
  transition: all 0.5s ease-out;
  transition-duration: 200ms;
}

.event__title {
  font-size: 18px;
  font-weight: 500;
}

.event__label {
  display: inline-block;
  width: 110px;
  font-size: 14px;
}

.event__info {
  font-size: 14px;
  opacity: 80%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}