@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow: hidden;
}

.nav-item {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 6px;
  width: calc(70vw - 12px - 12px);
  transition: all 0.5s ease-out;
  transition-duration: 200ms;
  font-weight: 500;
  color: rgb(55, 55, 55);
}

.event__title {
  font-size: 20px;
  font-weight: 500;
}

.event__label {
  display: inline-block;
  width: 110px;
  font-size: 14px;
}

.event__info {
  font-size: 14px;
  color: rgb(54, 54, 54);
}

.event__class {
  background-color: rgb(226, 230, 236);
  border-radius: 999px;
  padding: 4px 12px;
}

.filter__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 55px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
}

.filter__card:last-child {
  border-bottom: none;
}

.filter__selected-total {
  position: absolute;
  right: 3.8rem;
  opacity: .7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.studentsList {
  height: fit-content;
}

.student-card__student-container {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  border-bottom: 1px solid #d0d0d0;
  font-weight: 500;
}

.student-card__info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.student-card__info {
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  opacity: 50%;
  font-weight: 400;
}