@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-y: scroll;
  max-width: 500px;
  width: 100vw;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body {
    position: relative;
  }
}

body::before {
  content: "";
  display: inline-block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(255, 255, 255);
  right: 100%;
  z-index: 200;
}

/*

body::after {
  content: "";
  display: inline-block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(25, 25, 25);
  left: 100%;
  top: 0;
  z-index: 210;
} */

.nav-item {
  display: flex;
  flex-direction: row;
}

.event__title {
  font-size: 14px;
  font-weight: 600;  
}

.event__label {
  display: inline-block;
  width: 110px;
  font-size: 14px;
}

.event__info {
  font-size: 11px;
  line-height: 12px;
  /* opacity: .9; */
  color: rgb(123, 123, 123);
}

.event__class {
  background-color: rgb(243, 244, 246);
  border-radius: 4px;
  padding: 4px 12px;
}

.filter__selected-total {
  position: absolute;
  right: 3.8rem;
  opacity: .7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.studentsList {
  height: fit-content;
}

.student-card__info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.student-card__info {
  display: inline-block;
  width: fit-content;
  font-size: 11px;
  opacity: 40%;
  font-weight: 400;
  z-index: 10;
}

.form__label {
  font-size: 12px;
  padding-left: 5px;
  color: rgb(45, 45, 45);
  font-weight: 500;
}

.form__input {
  border: 1px solid rgb(209 213 219);
  background-color: rgb(229 231 235);
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  height: 40px;
  padding-inline: 14px;
  outline: none;
  font-size: 14px;
}

.form__input::placeholder {
  font-weight: 300;
  color: rgb(148, 155, 167);
}

.form__checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

.form__colleges {
  border: 1px solid rgb(209 213 219);
  border-radius: 7px;
  padding: 4px 14px;
  z-index: 120;
  font-size: 14px;
  height: fit-content;
}