.studentsList {
    height: fit-content;
}

.radioLabel {
    display: inline-block;
    width: 50%;
    border-radius: 999px;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

/* .description {
    opacity: 40%;
} */